# GROUP BY and AGGREGATES

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Flavors.csv")

In [4]:
df.head()

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2

In [5]:
group_by_frame = df.groupby(by="Base Flavor")

In [6]:
group_by_frame.mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [7]:
df.groupby(by="Base Flavor").mean(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [8]:
df.groupby(by="Base Flavor").count()

             Flavor  Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate         3      3              3               3             3
Vanilla           6      6              6               6             6

In [9]:
df.groupby(by="Base Flavor").max(numeric_only=False)

                 Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate    Rocky Road   Yes            8.8             7.6          16.6
Vanilla         Vanilla   Yes           10.0             8.0          18.0

In [10]:
df.groupby(by="Base Flavor").min(numeric_only=False)

                  Flavor Liked  Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate      Chocolate   Yes            8.2             7.0          15.2
Vanilla      Cake Batter    No            2.3             3.4           5.7

In [11]:
df.groupby(by="Base Flavor").sum(numeric_only=True)

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate             25.2            21.7          47.1
Vanilla               34.2            33.9          68.1


# .agg()

In [13]:
df.groupby(by=['Base Flavor']).agg({"Flavor Rating": ["mean", "count", "sum", "max", "min"], 
                                    "Texture Rating": ["mean", "count", "sum", "max", "min"]})

            Flavor Rating                        Texture Rating              \
                     mean count   sum   max  min           mean count   sum
Base Flavor
Chocolate             8.4     3  25.2   8.8  8.2       7.233333     3  21.7
Vanilla               5.7     6  34.2  10.0  2.3       5.650000     6  33.9


             max  min
Base Flavor
Chocolate    7.6  7.0
Vanilla      8.0  3.4

In [14]:
# Separately
# print(df.groupby(by=['Base Flavor']).mean(numeric_only=True)['Flavor Rating'])
# print()
# print(df.groupby(by=['Base Flavor']).count()['Flavor Rating'])
# print()
# print(df.groupby(by=['Base Flavor']).sum(numeric_only=True)['Flavor Rating'])
# print()
# print(df.groupby(by=['Base Flavor']).max(numeric_only=True)['Flavor Rating'])

In [15]:
# Easy Example 2

data = {
    'Type': ['A', 'A', 'B', 'B'],
    'Value1': [10, 20, 30, 40],
    'Value2': [5, 6, 7, 8]
}
df_easy = pd.DataFrame(data)

# Applying agg function
result = df_easy.groupby('Type').agg({
    'Value1': 'mean',
    'Value2': ['sum', 'max']
})

In [16]:
result

     Value1 Value2
       mean    sum max
Type
A      15.0     11   6
B      35.0     15   8

## groypby on multiple column

In [18]:
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [61]:
# Groupby
df.groupby(by=['Base Flavor', 'Liked']).mean(numeric_only=True)

                   Flavor Rating  Texture Rating  Total Rating
Base Flavor Liked
Chocolate   Yes              8.4        7.233333     15.700000
Vanilla     No               3.6        4.466667      8.066667
            Yes              7.8        6.833333     14.633333

In [65]:
# Groupby with agg()
df.groupby(by=['Base Flavor', 'Liked']).agg({"Flavor Rating":['mean', 'count', 'sum', 'max', 'min']})

                  Flavor Rating
                           mean count   sum   max  min
Base Flavor Liked
Chocolate   Yes             8.4     3  25.2   8.8  8.2
Vanilla     No              3.6     3  10.8   4.7  2.3
            Yes             7.8     3  23.4  10.0  6.5